*{
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.displyNone{
  display: none;
}
.displyblock{
  display: block;
}



.modal > .content {
  width: 80vw;
  height: 80vh;
  padding: 10px 5px;
  position: relative;
}
iframe{
  border: none;
  z-index: 2;
}

/* Form Component */
.form{
  width: 80vw;
  background-color: #ebf2f7;
  height: 100vh;
}
.form__contains{
  display: flex;
  padding-top: 10vh;
}
.form__left{
  display: flex;
  flex-direction: column;
  align-items:  center;
  width: 30%;
}
.itemProfile{
  display: flex;
  gap: 1vw;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 200px;

}
.item{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}
.form button{
  background-color: #e8a2a5;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 20px;
}
.form__input{
  margin-top: 10px;
}
input,textarea{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}
.searchInput > input{
  box-shadow: none;
  width: 100%;
  height: 3vh;
}
input{
  width: 60%;
  height: 4vh;
}
.searchInput{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  width: 60%;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-radius: 5px;
  height: 5vh;

}
.searchInput > svg{
  padding: 10px;
  color: rgb(114, 110, 110);
}
.countryCode{
  width: 10%;
  margin-right: 5%;
}
.phoneNumber{
  width: 44%;
}
.form__submit{
  margin-top: 10px;
}
input[type="submit"]{
  width: 40%;
  box-shadow: none;
  background-color: #5cc8a1;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}


/* Deisgn sidebar */
.sidebar_contains{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}
.toggleOptions{
  display: flex;
  margin-top: 20px;
}
.option{
  padding: 10px 15px;
  background-color: #dbe3eb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.optionBlue{
  background-color: #97eec8;
}

.item button{
  box-shadow: none;
  background-color: #97eec8;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
}

/* Design News */
.allNews{
  padding: 5vh;
}

/* ---> List layout */
.list{
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
.list__containt > img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.list__containt{
  display: flex;
  gap: 20px;
}
.news__info > p{
  font-size: 14px;
  overflow: hidden;
width: 100%;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.time{
  font-size: large;
  font-weight: 600;
  margin-top: 5px;
  color: rgb(75, 72, 72);
}

/* --->Block Layout */
.block{
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  width: 280px;
  display: inline-flex;
  margin: 5px;
}

.block__contain > p {
  font-size: 14px;
  overflow: hidden;
width: 100%;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.block__contain > h4 {
  overflow: hidden;
width: 100%;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.imageContainer{
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.imageContainer > img{
  width: 100%;
  /* height: 100%; */
}

/* Additional setting of form */
.formContainer{
  position: absolute;
  top: 0;
  z-index: 999;
}
.formInside{
  position: relative;
}
.greyBody{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
}

/* Style pagination */
.paginationContainer{
  position: fixed;
  bottom: 20px;
  right: 10%;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 8px;
  font-size: 16px;
  align-items: center;
}
.pagination svg{
  cursor: pointer;
}
.pageNumber{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.pageNumberDark{
  background-color: rgb(117, 117, 117);
}
.pagination > p{
  padding: 5px;
  
}
.arrowInvisible{
  display: none;
}